<%= header_links %>
<section class="UserSection">
  <h2>設定</h2>
  <div class="UserContainer">
    <ul class="NavList">
      <li class="NavListItem <%= 'active' if current_page?(edit_user_registration_path) %>">
        <%= link_to "アカウント", users_account_path, class:"NavListItemLink" %>
      </li>
      <li class="NavListItem">
        <%= link_to "プロフィール", users_show_path, class:"NavListItemLink" %>
      </li>
    </ul>
    <div class="AccountInformation">
      <div class="AccountHeader">
        <h3>アカウント</h3>
        <%= link_to "編集", edit_user_registration_path, class:"AccountEditLink" %>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="mb-4 form-group">
        <div class="label-text">
          <%= f.label :email, "メールアドレス", class: "form-label" %>
        </div>
        <div class="input-form">
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder:"メールアドレスを入力" %>
        </div>
      </div>
      <div class="mb-4 form-group">
        <div class="label-text">
          <%= f.label :password, "変更後パスワード", class: "form-label" %>
          <br>
          <span>※変更する場合のみ</span>
        </div>
        <div class="input-form">
          <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder:"変更後パスワードを入力" %>
        </div>
      </div>
      <div class="mb-4 form-group">
        <div class="label-text">
          <%= f.label :password_confirmation, "確認用パスワード", class: "form-label" %>
          <br>
          <span>※変更する場合のみ</span>
      </div>
        <div class="input-form">
          <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder:"変更後パスワードを入力" %>
        </div>
      </div>
      <div class="mb-4 form-group">
        <div class="label-text">
          <%= f.label :current_password, "現在のパスワード", class:"form-label" %>
        </div>
        <div class="input-form">
          <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control', placeholder:"現在のパスワードを入力" %>
        </div>
      </div>
      <div class="form-buttons">
        <%= link_to "キャンセル", users_account_path, class:"btn btn-outline-secondary cancel " %>
        <%= f.submit "保存", class:"btn btn-primary submit " %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/shared/footer' %>
