<%= header_links %>
<div class="EditBookingWrapper">
  <section class="EditBookingContainer">
    <h2>予約を編集する</h2>
    <div class="BookingDetails">
      <%= @booking.room.roomimage? ? image_tag(booking.room.roomimage.url) : image_tag("room.png") %>
      <div class="BookingDetailsHeader">
        <p><%= @booking.room.name %></p>
        <span>¥<%= number_with_delimiter(@booking.room.price) %>〜</span>
      </div>
      <span class="BookingDetailsAddress"><%= @booking.room.address %></span>
      <p class="BookingDetailsDescription"><%= @booking.room.description %></p>
    </div>
    <%= form_with model: @booking, local: true do |f| %>
    <div class="form-group">
      <%= f.label :checkin_date, "チェックイン", class:"form-label" %>
      <%= f.date_field :checkin_date, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :checkout_date, "チェックアウト", class:"form-label" %>
      <%= f.date_field :checkout_date, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :guest, "人数", class:"form-label" %>
      <%= f.number_field :guest, class:"form-control" %>
    </div>
    <div class="form-buttons">
      <%= f.submit "予約を編集する", class:"btn submit" %>
      <%= link_to "キャンセル", :back, class:"btn cancel" %>
    </div>
    <% end %>
  </section>
</div>
<%= render 'layouts/shared/footer' %>
