<%= header_links %>
<section class="UserSection">
  <h2>設定</h2>
  <div class="UserContainer">
    <ul class="NavList">
      <li class="NavListItem <%= 'active' if current_page?(users_account_path) %>">
        <%= link_to "アカウント", users_account_path, class:"NavListItemLink" %>
      </li>
      <li class="NavListItem">
        <%= link_to "プロフィール", users_show_path, class:"NavListItemLink" %>
      </li>
    </ul>
    <div class="AccountInformation">
      <div class="AccountHeader">
        <h3>アカウント</h3>
        <%= link_to "編集", edit_user_registration_path, class:"AccountEditLink" %>
      </div>
      <div class="AccountItem">
        <h4>メールアドレス</h4>
        <p><%= @user.email %></p>
      </div>
      <div class="AccountItem">
        <h4>パスワード</h4>
        <p>******</p>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/shared/footer' %>
