<%= header_links %>
<section class="UserSection">
  <h2>設定</h2>
  <div class="UserContainer">
    <ul class="NavList">
      <li class="NavListItem">
        <%= link_to "アカウント", users_account_path, class:"NavListItemLink" %>
      </li>
      <li class="NavListItem <%= 'active' if current_page?(users_show_edit_path) %>">
        <%= link_to "プロフィール", users_show_path, class:"NavListItemLink" %>
      </li>
    </ul>
    <div class="AccountInformation">
      <div class="AccountHeader">
        <h3>プロフィール</h3>
        <%= link_to "編集", users_show_edit_path, class:"AccountEditLink" %>
      </div>
      <%= form_for @user, url: user_path(@user), method: :patch do |f| %>
      <div class="mb-4 form-group">
        <div class="label-text">
          <%= f.label :image, "アイコン画像", class: "form-label" %>
        </div>
        <div class="user-icon">
          <% if current_user.image? %>
            <%= image_tag current_user.image.url %>
          <% else %>
            <%= image_tag ("defaulticon.png") %>
          <% end %>
        </div>
        <div class="upload-form">
          <%= f.file_field :image, label: "画像をアップロード", class: 'form-control' %>
        </div>
      </div>
      <div class="mb-4 form-group">
        <div class="label-text">
          <%= f.label :name, "名前", class: "form-label" %>
        </div>
        <div class="input-form">
          <%= f.text_field :name, class: 'form-control', placeholder:"名前を入力" %>
        </div>
      </div>
      <div class="mb-4 form-group">
        <div class="label-text">
          <%= f.label :introcution, "自己紹介", class: "form-label" %>
        </div>
        <div class="input-form">
          <%= f.text_area :introduction, class: 'form-control', id:"form-introduction", placeholder:"自己紹介を入力" %>
        </div>
      </div>    
      <div class="form-buttons">
        <%= link_to "キャンセル", users_show_path, class:"btn btn-outline-secondary cancel " %>
        <%= f.submit "保存", class:"btn btn-primary submit " %>
      </div>
      <% end %>
    </div>
  </div>
</section>
<%= render 'layouts/shared/footer' %>
