<%= header_links %>
<section class="UserSection">
  <h2>設定</h2>
  <div class="UserContainer">
    <ul class="NavList">
      <li class="NavListItem">
        <%= link_to "アカウント", users_account_path, class:"NavListItemLink" %>
      </li>
      <li class="NavListItem <%= 'active' if current_page?(users_show_path) %>">
        <%= link_to "プロフィール", users_show_path, class:"NavListItemLink" %>
      </li>
    </ul>
    <div class="AccountInformation">
      <div class="AccountHeader">
        <h3>プロフィール</h3>
        <%= link_to "編集", users_show_edit_path, class:"AccountEditLink" %>
      </div>
      <div class="AccountItem">
        <h4>アイコン画像</h4>
        <% if current_user.image? %>
          <%= image_tag current_user.image.url %>
        <% else %>
          <%= image_tag ("defaulticon.png") %>
        <% end %>
      </div>
      <div class="AccountItem">
        <h4>名前</h4>
        <p><%= @user.name %></p>
      </div>
      <div class="AccountItem">
        <h4>自己紹介</h4>
        <p><%= @user.introduction %> </p>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/shared/footer' %>
